* {
    margin: 0;
    padding: 0; 
}  

#header {
    position: fixed;
    background-color: #dddddd; 
    width: 100%;
    height: 85px;
    margin: -100px 0 0 0;
}

#headBoks { 
    position: relative; 
    height: inherit;
} 
 
#aLogo{ 
    height: 100%;
    float: left;
} 
 
#logo { 
    height: 100%;
} 
 
#txtListe { 
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    float: right;
} 
 
#txtListe > li{ 
    list-style: none;
    display: inline-block;
    margin: 0 1.5em;
} 
 
.txtHead { 
    text-decoration: none; 
    color: black; 
    font-size: 1.7em; 
} 

.content {
    background-color: white;
    width: 90%;
    margin: 1em auto;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content1 {
    margin: 100px auto 1em auto;
}

.contentHead, .prototypeHead {
    text-align: center;
}

.contentTxt, .prototypeTxt {
    margin: 1em;
    line-height: 1.5em;

}

.prototype {
    background-color: white;
    width: 90%;
    margin: 1em auto;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 
