/* Phone */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.content,
.prototype {
    display: grid;
    grid-gap: 1em;

    background-color: white;
    width: 90%;
    margin: 1em auto;
    
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.content {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slides {
    background-color: white;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    text-align: left;
   width: 90%;
    margin: 0 auto;
}


 

.text {
    
    width: 90%;
    margin: 0 auto;
    line-height: 1.5em;
    hyphens: auto;
}

.sourceList > li {
    margin: 0 0 0.5em 1.6em;
    list-style: initial;
}

.slideImages {
    display: block;
    margin: 1em auto;
    width: 80%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.number {
    position: absolute;
    margin: 1em 0 0 0.8em;
}

.table {
    margin-left: 1.5em;
    line-height: 1.4em;
}

.table>li>a {
    word-break: normal;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.delTable {
    margin-left: 1.5em;
}

.survey > img {
    display: block;
    margin: 1em auto;
    width: 90%;
} 
 

.figures {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



/* Tablet */

@media only screen and (min-width: 800px) {

    .prototype > div {  /* First set the floats and widths - then check w supports - see comment under -    TRY TO COMMENT OUT WIDTH : AUTO IN THE CHECKER ALONG WITH DISPLAY: GRID TO SEE THE FALLBACK :D*/
        float: left;
        width: 46%;
      }
      .prototype::after {
        content: "";
        clear: both;
        display: table;
    }
      
      @supports (display: grid) {  /*grid checker - undoes the previous width: 46%*/
        .prototype > div {
          width: auto; 
        }
      }


    .text {
        font-size: 1.4em;
        line-height: 1.8em;
    }

    .prototype {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .slideImages {
        width: 70%;
    }

    
    .textSize,
    .li-language {
        font-size: 1.5em;
    }
    .prototype {
        background-color: #eeeeee;
        -webkit-box-shadow: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px;
    }
    .slides {
        background-color: white;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #sourcDiv {
        grid-column: 1/3;
    }
    .tablecontent {
        margin-left: 5%;
        width: 30%;
    }
}


/* Computer */

@media only screen and (min-width: 1200px) {
    .text {
        font-size: 1em;
    }
    .textSize,
    .li-language {
        font-size: 1.2em;
    }
    .content {
        width: 65%;
    }
    .prototype {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5em;
    }

    #sourcDiv {
        grid-column: 2/4;
    }
    .slideImages {
        width: 40%;
        height: auto;
    }
    .tablecontent {
        position: absolute;
        width: 14%;
        margin-left: 1%;
    }

    .survey > img {
        width: auto;
    }
}

h1{
    font-size: 2.8em;
}

h2{
    font-size: 2.4em;
 }

 #tableOfContentsTitle{
    font-size: 1.2em;
 }

figure h3{
    font-size: 1.2em;
}
#Sources{
    font-size: 1.8em; 
}

 h3{
     font-size: 1.8em;
  }