/* Phone */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

.content, .prototype {
    background-color: white;
    width: 90%;
    margin: 1em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2em;
}

.title {
    text-align: center;
    margin-bottom: 1em;
}

.text {
    margin: 1em;
    line-height: 1.5em;

}



.slideImages {
    display: block;
    margin: 1em auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Tablet */
@media only screen and (min-width: 500px) {
    .text {
        font-size: 1.4em;
        line-height: 1.8em;
    }

    .prototypeContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .slideImages {
        width: 70%;
    }

    .textSize, .li-language {
        font-size: 1.5em;
    }

    .prototype {
        background-color: #eeeeee;
        box-shadow: 0px 0px 0px 0px;
    }

    .slides {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


}

/* Computer */
@media only screen and (min-width: 1200px) {
    .text {
        font-size: 1em;
    }

    .textSize, .li-language {
        font-size: 1.2em;
    }

    .content {
        width: 65%;
    }

    .prototypeContent {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5em;
    }

    .slideImages  {
        width: 40%;
    }
}